@charset "utf-8";
/* CSS Document */
.top
{
	width:100%;
    text-align:center;
    height:3em;
    line-height:3em;
    background:url(../img/apptop.png);
    background-size:100%;
	position:fixed;
	left:0;
	top:0;
}
input:focus{
outline:1px solid #54aafc;
}
    .top .geren
    {
        width: 1.5em;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0.75em;
    right: 1em;
    }
.top .geren img
{
    width:100%;
}
/*.center
{
    margin-top:3em;
}*/
.chek
{
   margin-bottom: 1em;
    display: block;
    margin-left: 1.5em;
    overflow: hidden;
}
.query
{
    border-top-left-radius:0.2em;
    border-bottom-left-radius:0.2em;
    margin-top:0.5em;
    border: 1px solid #e6e6e6;
    height: 2em;
    width: 75%;
    float:left;
    font-size: 1em;
    background:#f6f6f6;
}
.chek .shuo
{
    border-top-right-radius:0.2em;
    border-bottom-right-radius:0.2em;
    margin-top: 0.5em;
    display: block;
    width: 16%;
     height: 2em;
     overflow:hidden;
    float: left;
    margin-right: 1.5em;
    border-top:1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
}
.chek .shuo img
{
    height: 80%;
    padding-top:5%;
    margin:0 auto;
}
.center .listli li
{
     display:block;
     overflow:hidden;
     padding-top:0.5em;
     padding-bottom:0.5em;
    clear: both;
    margin-left:1em;
    margin-right:1em;
    border-bottom:1px solid #ddd;
    font-size: 0.9em;
}
.center .listli li a
{
    word-wrap: break-word;
    width: 73%;
    display: block;
    float: left;
}
.center .listli li label
{
    width:10%;
    float: left;
}
.center .listli li span
{	width:17%;
    float:right;
}
.center .listli li span i,.center ul li span p
{	width:100%;
    text-align:center;
	float:left;
	color:#83ba4e;
}
.center .listli li span p{
	font-size:.24rem;
	}
 a:hover
{
    color:#54aafc;
}