body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select
{
    margin:0;
    padding:0;
    font-size:95%;
    font-family:arial;
}
body
{
    margin-left:15%;
      margin-right:15%;
}
ul
{
    list-style:none;
    overflow: hidden;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    margin-bottom:0;
}
.top ul li .but
{
    padding:2px;
    width:80px;
    margin:5px;
    float:left;
}
.top
{
    background:#f2f2f2;
    border:1px solid #808080;
    margin-top:10px;
    overflow:hidden;
    margin-bottom:5px;
}

.tab span
{
    float:left;
    display:block;
    width:100px;
    margin:5px;
    padding:5px;
    background:#e7e7e7;
    border:1px solid #808080;
    cursor:pointer;
}
.tab .bue
{
    background:#009dd9;
    color:white;
}
.content
{
    clear:both;
    margin-top:20px;
    text-indent: 2em;
}
.list
{
    border:1px solid #808080;
}
.list li
{
    overflow:hidden;
}
.list li span
{
    display:block;
    padding:10px;
    float:left;
}
.list li  button
{
   
    width:60px;
    margin:5px;
    padding:2px;
}
 input[type="radio"]
{
    vertical-align:text-top;
    margin-top:0;
}
.list li .table tr td a
{
    padding:5px;
}